<app-header [opcion]="2"></app-header>
<div class="principal">
    <div class="titulo-container">
        <h1>Agregar nuevo pago</h1>
    </div>

    <div class="subtitulo-container">
       <h2>Ingrese los datos del nuevo pago</h2>
    </div>


    <div class="datos">

        <div class="fechapago">
            <input type="text" placeholder="Fecha de pago DD/MM/AAAA">
        </div>


        <div class="horapago">
            <input type="text" placeholder="Hora de pago 00:00">

        </div>

        <div class="nombretitular">
            <input type="text" placeholder="Nombre del titular">
        </div>

        <div class="nombredequienpaga">
            <input type="text" placeholder="Nombre de quien paga">
        </div>

        <div class="concepto">
            <input type="text" placeholder="Concepto">
        </div>

        <div class="cantidad">
            <input type="text" placeholder="Cantidad a pagar">
        </div>

        <div class="tipodepago">
            <input type="text" placeholder="Tipo de pago">
        </div>

    </div>



    <div class="boton-container">
        <button>Aceptar</button>
        <mat-icon class="icon">add_circle</mat-icon>
    </div>
   
</div>

