<app-header [opcion]="0"></app-header>
<div class="principal">
    <div class="titulo-container">
        <h1>Tablero</h1>
    </div>

    <div class="contadores">
        <div class="residentes">
            <span class="cifra">30</span>
            <span class="nombre">Residentes registrados</span>
        </div>
    
        <div class="pagos">
            <span class="cifra">250</span>
            <span class="nombre">Pagos guardados</span>
        </div>
    
        <div class="archivados">
            <span class="cifra">130</span>
            <span class="nombre">Datos archivados</span>
        </div>
    </div>


    <div class="subtitulo">
        <h2>Herramientas</h2>
    </div>

    <div class="herr-container">
        <div class="herramientas">
            <div class="herramientas-group">
                <div class="herramienta derecha blanco">
                    <mat-icon class="icon">people</mat-icon>
                    <span class="herramienta-texto">Ver facturas generadas</span>
                    <mat-icon class="icon">more_vert</mat-icon>
                </div>
        
                <div class="herramienta blanco">
                    <mat-icon class="icon">restore_from_trash</mat-icon>
                    <span>Ver recuperar eliminados</span>
                    <mat-icon class="icon">more_vert</mat-icon>
                </div>
            </div>
        
            <div class="herramientas-group">
                <div class="herramienta derecha prim">
                    <mat-icon class="icon">people</mat-icon>
                    <span>Listado de todos los residentes</span>
                    <mat-icon class="icon">more_vert</mat-icon>
                </div>
        
                <div class="herramienta prim">
                    <mat-icon class="icon">credit_card</mat-icon>
                    <span>Listado de todos los pagos</span>
                    <mat-icon class="icon">more_vert</mat-icon>
                </div>
            </div>
        </div>
    
        <img src="/assets/casa.png" alt="Imagen casa">
    </div>
   
</div>
