<app-header [opcion]="1"></app-header>
<div class="principal">
    <div class="titulo-container">
        <h1>Agregar nuevo residente</h1>
    </div>

    <div class="subtitulo-container">
       <h2>Ingrese los datos del nuevo residente</h2>
    </div>


    <div class="datos">

        <div class="nombre">
            <input type="text" placeholder="Nombre completo"
            [(ngModel)]="nombre" (input)="Nombre()">
        </div>


        <div class="sexo">
            <input type="text" placeholder="Sexo">

        </div>

        <div class="edad">
            <input type="text" placeholder="Edad">
        </div>

        <div class="telefono">
            <input type="text" placeholder="Telefono">
        </div>

        <div class="domicilio">
            <input type="text" placeholder="Domicilio y numero de casa">
        </div>

        <div class="calle1">
            <input type="text" placeholder="Entre calle 1">
        </div>

        <div class="calle2">
            <input type="text" placeholder="Entre calle 2">
        </div>

        <div class="referencia">
            <input type="text" placeholder="Referencia">
        </div>

    </div>



    <div class="boton-container">
        <button>Aceptar</button>
        <mat-icon class="icon">add_circle</mat-icon>
    </div>
   
</div>
