<app-header [opcion]="1"></app-header>
<div class="principal">
    <div class="titulo-container">
        <h1>Agregar nuevo residente</h1>
    </div>

    <div class="subtitulo-container">
       <h2>Ingrese los datos del nuevo residente</h2>
    </div>


    <div class="datos">

        <div class="grande">
            <input type="text" [(ngModel)]="datos.nombre" placeholder="Nombre completo">
        </div>


        <div class="chico">
            <input type="text"[(ngModel)]="datos.sexo" placeholder="Sexo">

        </div>

        <div class="chico">
            <input type="text"[(ngModel)]="edad" placeholder="Edad">
        </div>

        <div class="chico">
            <input type="text"[(ngModel)]="datos.telefono" placeholder="Telefono">
        </div>

        <div class="grande">
            <input type="text" [(ngModel)]="direccion.num_dom" placeholder="Domicilio y numero de casa">
        </div>

        <div class="chico">
            <input type="text" [(ngModel)]="direccion.vialidad_1" placeholder="Entre calle 1">
        </div>

        <div class="chico">
            <input type="text" [(ngModel)]="direccion.vialidad_2" placeholder="Entre calle 2">
        </div>

        <div class="grande">
            <input type="text" [(ngModel)]="direccion.referencias" placeholder="Referencia">
        </div>

    </div>



    <div class="boton-container">
        <button (click)="agregar()">Aceptar</button>
        <mat-icon class="icon">add_circle</mat-icon>
    </div>
   
</div>
