<app-header [opcion]="-1"></app-header>
<div class="detalles">
    <div class="titulo-container">
        <h1>Detalles Factura</h1>
    </div>

    <div class="contenido-container show">
        <div class="row-data1">
            <div class="data">
             
            </div>

            <mat-icon class="icon">credit_card</mat-icon>
        </div>

        <div class="row-data">
            <div class="data">

            </div>

            <div class="data center">
    
            </div>
        </div>

        <div class="row-data">
            <div class="data">
                <span class="titulo">Nombre residente titular:</span>
   
            </div>

            <div class="data center">
          
            </div>
        </div>

        <div class="row-data">
            <div class="data">
                <span class="titulo">Concepto del pago:</span>
     
            </div>

            <div class="data center">
                <span class="titulo">Cantidad a pagar:</span>
            
            </div>
        </div>

        <div class="row-data">
            <div class="data">
                <span class="titulo">Método de pago:</span>
      
            </div>
        </div>

        <div class="boton">
      
        </div>
    </div>
</div>
