.detalles {
    width: 100%;    

    padding-top: 38px;
    padding-left: 150px;
    padding-right: 150px;

    .titulo-container {
        height: 59px;

        h1 {
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;

            color: #FFFF;
        }

        margin-bottom: 10px;
    }

    .contenido-container {
        width: 80%;

        padding: 40px;
        margin-left: auto;
        margin-right: auto;

        border-radius: 20px;

        background-color: var(--secondary);

        .row-data1 {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-bottom: 5px;

            .data {
                display: flex;
                flex-direction: column;

                margin-right: auto;

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;

                    color: var(--primary);
                }

                .titulo {
                    margin-bottom: 5px;

                    color: #FFFF;
                }
            }

            .icon {
                width: 60px;
                height: 60px;

                font-size: 60px;
                color: var(--primary);
            }
        }

        .row-data {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-bottom: 20px;

            .center {
                margin-left: 5%;
                margin-right: 5%;
            }

            .data {
                display: flex;
                flex-direction: column;

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;

                    color: var(--primary);
                }

                .titulo {
                    margin-bottom: 5px;

                    color: #FFFF;
                }
            }

        }
    }


}