<app-header [opcion]="-1"></app-header>
<div class="detalles">
    <div class="titulo-container">
        <h1>Detalles Residente</h1>
    </div>

    <div class="contenido-container">
        <div class="row-data1">
            <div class="data">
                <span class="titulo">Nombre:</span>
                <span>Gustavo Hernández Cano</span>
            </div>

            <mat-icon class="icon">people</mat-icon>
        </div>

        <div class="row-data">
            <div class="data">
                <span class="titulo">Sexo:</span>
                <span>Maculino</span>
            </div>

            <div class="data center">
                <span class="titulo">Edad:</span>
                <span>21 años</span>
            </div>

            <div class="data">
                <span class="titulo">Telefono:</span>
                <span>3315784525</span>
            </div>
        </div>

        <div class="row-data">
            <div class="data">
                <span class="titulo">Direccion y numero de casa:</span>
                <span>Av. Colon #1236 Num 1</span>
            </div>

            <div class="data center">
                <span class="titulo">Entre calle 1:</span>
                <span>Americas</span>
            </div>

            <div class="data">
                <span class="titulo">Entre calle 2:</span>
                <span>Continente</span>
            </div>
        </div>

        <div class="row-data">
            <div class="data">
                <span class="titulo">Descripcion:</span>
                <span>Reja negra alta y fachada color blanco</span>
            </div>
        </div>

        <div class="boton">
            <button>Aceptar</button>
        </div>
    </div>
</div>